{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

  {% if rows %}
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Transaction time</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td><span class="col_prefix">Symbol:</span>&nbsp;{{ row["symbol"] }}</td>
          <td><span class="col_prefix">Shares:</span>&nbsp;{{ row["shares"] }}</td>
          <td><span class="col_prefix">Price:</span>&nbsp;{{ row["price"] | usd }}</td>
          <td><span class="col_prefix">Transaction time:</span>&nbsp;{{ row["transaction_time"] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No history available. Please <a href="buy">buy</a> some shares.</p>
  {% endif %}  

{% endblock %}
