{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Name</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tfoot class="to_be_hidden">
      <tr>
        <td colspan="4"></td>
        <td>{{ grand_total | usd }}</td>
        <td></td>
      </tr>
    </tfoot>

    <tbody>
      {% for row in rows %}
        <tr>
          <td class="symbol_row">
            <span class="instruction">Symbol:</span>&nbsp;
            <span class="symbol">{{ row["symbol"] }}</span>
          </td>
          <td><span class="instruction">Name: </span>&nbsp;{{ row["name"] }}</td>
          <td><span class="instruction">Shares: </span>&nbsp;{{ row["shares"] }}</td>
          <td><span class="instruction">Price: </span>&nbsp;{{ row["price"] | usd }}</td>
          <td><span class="instruction">Total: </span>&nbsp;{{ row["total"] | usd }}</td>
          <td>
            <button type="button" class="btn btn-primary buy_button" name="buy_button">Buy</button>
            <button type="button" class="btn btn-primary sell_button" name="sell_button">Sell</button>
          </td>
        </tr>
      {% endfor %}
      <tr class="to_be_hidden">
        <td>CASH</td>
        <td colspan="3"></td>
        <td>{{ current_cash | usd }}</td>
        <td></td>
      </tr>
      <tr class="bottom_tr">
        <td>CASH: {{ current_cash | usd }}</td>
        <td>Grand Total: {{ grand_total | usd }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
