{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="row" id="login-area">
        <div class="col-md" id="login-faq">
            <h1>What is Finance?</h1>
            <p class="lead">Its a web application where you can check, buy, & sell shares of stokcs listed in IEX.</p>
            
            <h3>IEX? What's that?</h3>
            <p class="lead">Its a stock exchange based in the United States. This is a fair, simple and transparent stock exchange dedicated to investor and issuer protection. Learn <a href="https://iextrading.com/">more</a>.</p>

            <h3>Want to know more?</h3>
            <p class="lead">Please <a href="/register">register</a> and enjoy.</p>
        </div>
        <div class="col-md" id="login_form">
            <form action="/login" method="post">
                <div class="form-group">
                    <input autofocus autocomplete="off" class="form-control w-75" name="email" 
                    placeholder="Email" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control w-75" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
            <a href="#" id="forget-password">Forgot Password?</a>
            <p class="lead">New to Finance? <a href="/register">Join Now!</a></p>
        </div>
    </div>
    
    <div id="login-area">

    </div>
    
{% endblock %}
