{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div id="reset_area">
    <h1>Forgot Password?</h1>
    <p class="lead">You can reset your password here.</p>
    <form action="/password_reset" method="POST">
        <div class="form-group">
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter Email">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
    
{% endblock %}
